/* 全局样式 */
html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: url('../img/mouse.png'),auto;
}
ul :hover{
    cursor: url('../img/mouse2.png'),auto;
}
.el-button :hover {
    cursor: url('../img/mouse2.png'),auto;
}
.el-card {
    width: 70%;
    opacity: 0.8;
}

.el-form {
    margin: 20px 10px 10px 10px;
}

.el-pagination {
    margin-top: 10px;
}
.el-pagination :hover {
    cursor: url('../img/mouse2.png'),auto;
}
@media screen and (max-width: 750px) {
    .el-message-box {
      width: 60% !important;
    }
}